
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="divListar">
        <div class="row my-2">

            <button class="btn btn-success ml-auto" onclick="btnAction('new')">Nuevo</button>
        </div>



        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID_Especialidad</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody id="bodyTable">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    @*<td>@mdo</td>*@
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    @*<td>@fat</td>*@
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    @*<td>@twitter</td>*@
                </tr>

            </tbody>
        </table>
    </div>

    <div id="divRegister" style="display:none;">
        <div class="row my-2">
            <button class="btn btn-danger ml-auto" onclick="btnAction('cancel')">Cancelar</button>
        </div>
        <form id="formRegister">
            <div class="row">
                <div class="form-group col-12 col-md-6 col-lg-4">
                    <label for="exampleInputEmail1">Especialidad</label>
                    <input type="text" autocomplete="off" class="form-control" name="nombre_especialidad" placeholder="Ingrese especialidad">
                </div>
                <div class="form-group col-12 col-md-6 col-lg-4">
                    <label for="exampleInputEmail1">Descripción</label>
                    <input type="text" autocomplete="off" class="form-control" name="descripcion_especialidad" placeholder="Ingrese descripción">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Registrar</button>

            </div>

        </form>
    </div>
</div>
<script>
    const urlRegistroEsp = "@Url.Action("RegistrarEspecialidad", "Especialidad")";
    const urlListarEsp = "@Url.Action("ListarEspecialidad", "Especialidad")";
</script>
<script src="~/Scripts/Especialidad/especialidad.js"></script>

